@{
    ViewBag.Title = "Index";
}

<h1>This is a h1</h1>
<h2>This is a h2</h2>
<h3>This is a h3</h3>

<p>This is a paragraph</p>

<article class="float-right">This is an article with the float-right class applied</article>

<a href="http://www.google.com">Link to google</a>

<h3>The date is @DateTime.Now </h3>

@{
    @:The day is: @DateTime.Now.DayOfWeek. It is a <b>meh</b> day!
}